<div>
  <h1>Detalhes do cardápio: <%= @menu.name %> </h1>
</div>

<div>
  <h3>Esse cardápio não possui nenhum item cadastrado.</h3>
</div>

<div>
  <%= link_to 'Lista de cardápios', restaurant_menus_path(@restaurant) %>
</div>