<div>
  <h1>Pedidos:</h1>
</div>

<% if @orders.any? %>
  <div>
    <% @orders.each do |order| %>
      <dl>
        <dt><%= link_to "Pedido #{order.code}", order %></dt>
        <dd>Status: <%= "#{t(order.status)}"%></dd>
        <dd>Realizado em: <%= "#{order.created_at.strftime('%d/%m/%Y')}"%></dd>
      </dl>
      
    <% end %>
  </div>
<% else %>
  <div>
    <p>Seu restaurante não possui nenhum pedido registrado.</p>
  </div>
<% end %>

<div>
  <%= link_to 'Novo pedido', new_order_path unless @orders.find_by(status: :creating) %>
</div>