<div>
  <h1>Editando item do Pedido <%= @order.code %> </h1>
</div>

<div>
  <%= render 'order_portion_form',
      url_info: order_order_portion_path(@order, @order_portion, portion_id: @portion.id) %>
</div>

<div>
  <%= link_to 'Cancelar edição', @order %>
</div>